<div class="container bg-light p-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <h5>Convert values</h5>
            <select class="form-select mb-3" id="context_select">
                <option value="">Select a context</option>
                {{#each context}}
                <option value="{{_id}}">{{context_name}}</option>
                {{/each}}
            </select>
            <div class="row">
                <div class="col-6">
                    <input type="number" id="val1" class="form-control mb-2" placeholder="enter a value">
                    <select id="unit_select1" class="form-select" >
                        <option value="">Select a unit</option>
                    </select>
                </div>
                <div class="col-6">
                    <input type="number" id="val2" class="form-control mb-2" placeholder="enter a value">
                    <select id="unit_select2" class="form-select">
                        <option value="">Select a unit</option>
                    </select>
                </div>
                <div id="pair_value"></div>
            </div>
        </div>
    </div>
</div>

<div class="container bg-light p-5">
    {{>errors errors=errors}}
    <h4>Units of measurement</h4>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addunits"> Add </button>

    <div class="responsive">
        <table class="table table-hover table-responsive">
            <thead>
                <th>Unit name</th>
                <th>System</th>
                <th>Context</th>
                <th>Actions</th>
            </thead>
            <tbody>
                {{#each unit}}
                <tr>
                    <td>{{unit_name}}</td>
                    <td>{{system.system_name}}</td>
                    <td>{{context.context_name}}</td>
                    <td><a href="/unit/edit/{{_id}}"><i class="bi bi-pencil-square"></i></a>
                        <a href="/unit/delete/{{_id}}"><i class="bi bi-trash3"></i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<div class="container bg-light p-5">
    <h4>Measurment System</h4>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addsystem"> Add </button>
    <div class="responsive">
        <table class="table table-hover table-responsive">
            <thead>
                <th>System</th>
                <th>Actions</th>
            </thead>
            <tbody>
                {{#each system}}
                <tr>
                    <td>{{system_name}}</td>
                    <td><a href="/system/edit/{{_id}}"><i class="bi bi-pencil-square"></i></a>
                        <a href="/system/delete/{{_id}}"><i class="bi bi-trash3"></i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<div class="container bg-light p-5">
    <h4>Units conversion pairs</h4>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addpairs"> Add </button>
    <div class="responsive">
        <table class="table table-hover table-responsive">
            <thead>
                <th>Pairs</th>
                <th>value 1</th>
                <th>value 2</th>
                <th>type</th>
                <th>Actions</th>
            </thead>
            <tbody>
                {{#each pairs}}
                <tr>
                    <td>{{pairs_name}}</td>
                    <td>{{val1}}</td>
                    <td>{{val2}}</td>
                    <td>{{match type}}</td>
                    <td><a href="/pairs/edit/{{_id}}"><i class="bi bi-pencil-square"></i></a>
                        <a href="/pairs/delete/{{_id}}"><i class="bi bi-trash3"></i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addunits" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Unit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/unit/add" method="post" class="needs-validation">
                    <div class="mb-3">
                        <label for="Product" class="form-label">Unit</label>
                        <input type="text" class="form-control" name="unit_name" id="name" required>
                        <div class="invalid-feedback">
                            Please enter an product uid
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="Product" class="form-label">Unit system</label>
                        <select name="system" class="form-select" id="">
                            {{#each system}}
                            <option value="{{_id}}">{{system_name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="mb-3 text-right">
                        <label for="Product" class="form-label">Unit Context</label>
                        <div class="mb-3">
                            <select name="context" class="form-select" id="">
                                {{#each context}}
                                <option value="{{_id}}">{{context_name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 text-right">
                        <div class="row">
                            <div class="col-6 d-flex justify-content-end">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="addsystem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add measurement Unit System</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/system/add" method="post" class="needs-validation">
                    <div class="mb-3">
                        <label for="Product" class="form-label">Unit</label>
                        <input type="text" class="form-control" name="system_name" id="name" required>
                        <div class="invalid-feedback">
                            Please enter a unit system name
                        </div>
                    </div>
                    <div class="mb-3 text-right">
                        <div class="row">
                            <div class="col-6 d-flex justify-content-end">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="addcontext" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Unit System Type</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/unit/addcontext" method="post" class="needs-validation">
                    <div class="mb-3">
                        <label for="Product" class="form-label">Unit System Type</label>
                        <input type="text" class="form-control" name="context_name" id="name" required>
                        <div class="invalid-feedback">
                            Please enter a context name
                        </div>
                    </div>
                    <div class="mb-3 text-right">
                        <div class="row">
                            <div class="col-6 d-flex justify-content-end">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addpairs" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add pairs</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/pairs/add" method="post" class="needs-validation">
                    <div class="mb-3">
                        <label for="Product" class="form-label">Pairs Name</label>
                        <input type="text" class="form-control" name="pairs_name" id="name" required>
                        <div class="invalid-feedback">
                            Please enter a name
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <input type="number" name="val1" id="val1" class="form-control mb-2" step="any"
                                placeholder="Value 1" required>
                            <select id="" name='pair1' class="form-select" required>
                                {{#each unit}}
                                <option value="{{_id}}">{{unit_name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-6">
                            <input type="number" name="val2" id="val2" class="form-control mb-2" step="any"
                                placeholder="Value 2" required>
                            <select id="" name='pair2' class="form-select" required>
                                {{#each unit}}
                                <option value="{{_id}}">{{unit_name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <select name="type" id="type" class="form-select" aria-label="Select a type" required>
                            <option value="1">Multiply</option>
                            <option value="2">Divide</option>
                        </select>
                    </div>
                    <div class="mb-3 text-right">
                        <div class="row">
                            <div class="col-6 d-flex justify-content-end">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>