<div class="container">
     {{>errors errors=errors}}
    <div class="bg-light p-5">
        <form action="/unit/{{unit._id}}" method="post" class="needs-validation" novalidate>
        <input type="hidden" name="_method" value="PUT" id="">
            <div class="mb-3">
                <label for="Product" class="form-label">Unit</label>
                <input type="text" class="form-control" name="unit_name" id="name" value="{{unit.unit_name}}" required>
                <div class="invalid-feedback">
                    Please enter a unit name
                </div>
            </div>
            <div class="mb-3">
                <label for="Product" class="form-label">Unit system</label>
                <select name="system" class="form-select select_system" id="" data-seleted="{{unit.system._id}}">
                    {{#each systems}}
                    <option value="{{_id}}">{{system_name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="mb-3 text-right">
                <label for="Product" class="form-label">Unit Context</label>
                <div class="mb-3">
                    <select name="context" class="form-select select_context" data-seleted="{{unit.context._id}}" id="">
                        {{#each contexts}}
                        <option value="{{_id}}">{{context_name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="mb-3 text-right">
                    <div class="row">
                        <div class="col-6 d-flex justify-content-end">
                            <a href="/" class="btn btn-secondary">Close</a>
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </div>
        </form>
    </div>
</div>